body{
    background: linear-gradient(to bottom, #d4d4d4 80%, #d4d4d4 80%);
}
  
body, ul, li, p {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1,2rem;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: black;
    font-size: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px;
}

a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}
  
.menu {
    display: flex;
    background-color: #000000;
    border: 2px solid #000000;
    border-radius: 6px;
}
  
.menu li {
    margin-left: 15px;
}
  
.menu li a {
    display: block;
    padding: 10px;
    background-color: #000000;
    background: rgb(185, 181, 240);
    border-radius: 10px;
    color: #000000;
}
  
.logo {
    width: 200px;
}

main{
	width: 940px;
	margin: 0 auto;
}
form{
	margin: 40px 0;
}
form label, form p{
	display: block;
	font-size: 20px;
	margin: 0 0 10px;
}
.input-padrao{
	display: block;
	margin: 0 0 20px;
	padding: 10px 200px;
	width: 50px;
}
.checbox{
	margin: 20px 0;
}

.button{
    width: 100%;
    height: 48px;
    margin: 24px;
    background-color: #5ca8d4;
    cursor: pointer;
    border: 0;
    border-radius: 10px;
    color: #fff;
    font-size: 22px;
    font-weight: bold;
}

footer{
    background-color: #000000;
    padding: 20px;
}
  
.conteiner-footer{
    display: grid;
    letter-spacing: 1px;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    padding: 20px;
    justify-content: center;
    align-items: center;
}
  
.footer-contato{
    margin: 0 auto;
}
  
.footer-social_media{
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 100px;
    gap: 2rem;
    margin-top: 1.5rem;
}
    
.footer-link{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
}
#instagram{
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}
#facebook{
    background-color: #4267b3;
}
#telegram{
    background-color:  #024873;
}
  
.logoCopy{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
.logoCopy > img{
    width: 100px;
    height: 100px;
    margin: 0 auto;
}
  
.copyright{
    color: #e7e7e7;
    font-size: 16px;
}
  
  
.navBar {
    background-color: #000000;
    border: 2px solid #000000;
    border-radius: 6px;
}
  
.menuFooter{
    display: flex;
    flex-direction: row;
    margin-left: 15px;
    gap: 20px;
}
  
.navBar li a {
    padding: 10px;
    background-color: #000000;
    background: rgb(185, 181, 240);
    border-radius: 10px;
    margin: 0 auto;
    color: #000000;
}